<div class="navbar navbar-inverse">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center"><h4 class="navbar-text">Home</h4></div>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-primary btn-lg btn-block" href="#schedule"><span class="glyphicon glyphicon-calendar"> Schedule</span></a>
    <a class="btn btn-primary btn-lg btn-block" href="#location"><span class="glyphicon glyphicon-map-marker"> Location</span></a>
</div>