<div class="navbar navbar-inverse">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 text-left"><a id="back-button" class="btn btn-default navbar-btn" href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></div>
            <div class="col-xs-4 text-center"><h4 class="navbar-text">Location</h4></div>
            <div class="col-xs-4 text-right"><a id="refresh" class="btn btn-default navbar-btn" href="#"><span class="glyphicon glyphicon-refresh"></span></a></div>
        </div>
    </div>
</div>
<div class="scroller list-group">
    <p>Getting location</p>
</div>