<div class="navbar navbar-inverse">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center"><h4 class="navbar-text">Appointment</h4></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center"><div id="progress"></div></div>
    </div>
    <div class="row">
        <div class="col-xs-12"><p class="text-center">Appointment time remaining</p></div>
    </div>
</div>
<div class="navbar navbar-fixed-bottom">
    <div class="container">
        <div class="btn-group btn-group-lg btn-group-justified">
            <a id="finish" class="btn btn-primary btn-lg btn-block navbar-btn" href="#appointment/{{id}}/confirm"><span class="glyphicon glyphicon-remove"> FINISH</span></a>            
            <a id="alert" class="btn btn-primary btn-lg btn-block navbar-btn" href="#appointment/{{id}}/alert"><span class="glyphicon glyphicon-bell"> ALERT</span></a>
        </div>
    </div>
</div>