<div class="navbar navbar-inverse">
    <div class="container">
        <div class="row">
            <div class="col-xs-4"><a id="back-button" class="btn btn-default navbar-btn" href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></div>
            <div class="col-xs-4 text-center"><h4 class="navbar-text">Appointment</h4></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center"><div id="additional"></div></div>
    </div>
    <div class="row">
        <div class="col-xs-12"><p class="text-center">Increase the appointment duration</p></div>
    </div>
</div>
<div class="navbar navbar-fixed-bottom">
    <div class="container">
        <a id="start" class="btn btn-primary btn-lg btn-block navbar-btn" href="#appointment/{{id}}/progress"><span class="glyphicon glyphicon-play"> START</span></a>
    </div>
</div>
